ul {
    list-style-type: none;
  }

  html{
    background-color: rgb(0, 0, 126);
    color: rgb(160, 161, 95);
  }

  button{
    size: 93%;
    border: 0;
    padding: 0.75rem 0.8rem;
    transition: background-color .25s ease-out, transform .1s ease-out;
    cursor: pointer;
    background-color: rgb(172, 0, 0);
    color: whitesmoke;
  }

  button.hover{
    background-color: rgb(219, 4, 4);

    transform: scale(1.1);
  }

  h3{
    padding: 0;
    size: 117%;
    color: whitesmoke;
  }
  
  div{
    border: box;
    border: 2px solid #ac01ac;
    border-radius: 4px;
  }